body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("~/public/assets/babbazaBg.jpg");
  .bstore {
    width: 100%;
    height: 50rem;
  }
}
